.full-width {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 15px;
  margin-bottom: 30px;
}

.IconsContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: -7px;
}
@media (min-width: 0px) {
  .IconsContainer {
    height: 120px;
  }
}
@media (min-width: 1200px) {
  .IconsContainer {
    height: 152px;
  }
}
.IconsContainer .Icon {
  border-radius: 50%;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1), 0 3px 10px rgba(0, 0, 0, 0.07);
}
.IconsContainer .Icon > .circle-score {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.IconsContainer .Icon > .circle-score > svg {
  position: absolute;
  transform: rotate(-90deg);
  z-index: 9999;
  overflow: visible;
}
.IconsContainer .Icon > .circle-score > svg > circle.score {
  stroke: url(#cl1);
  fill: none;
}
.IconsContainer .Icon > .circle-score > svg > circle.fond {
  fill-opacity: 0.4;
  stroke: #ffffff;
}
.IconsContainer .Icon span {
  position: absolute;
  padding: 5px 12px;
  background: #fff;
  box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
  border-radius: 50px;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
  color: #566b78;
  pointer-events: none;
  user-select: none;
  opacity: 0;
  transition-property: opacity, transform, -webkit-transform;
  transition-duration: 0.25s;
  transition-timing-function: ease-out;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.IconsContainer .Icon:hover > span {
  opacity: 0.9;
  transform: translate(-50%, 120%);
  z-index: 9999;
}
.IconsContainer .Icon:hover > .circle-score {
  opacity: 1;
}
.IconsContainer .Icon:hover > .circle-score circle.score {
  animation: progress 1s ease-out;
}
.IconsContainer .Icon.NodeJS {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/Node-JS-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 0%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.NodeJS {
    width: calc(120px / 2.5);
    height: calc(120px / 2.5);
  }
  .IconsContainer .Icon.NodeJS svg {
    width: calc(120px / 2.5);
    height: calc(120px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.NodeJS {
    width: calc(120px / 1.5);
    height: calc(120px / 1.5);
  }
  .IconsContainer .Icon.NodeJS svg {
    width: calc(120px / 1.5);
    height: calc(120px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.NodeJS {
    width: 120px;
    height: 120px;
  }
  .IconsContainer .Icon.NodeJS svg {
    width: 120px;
    height: 120px;
  }
}
.IconsContainer .Icon.Docker {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/Docker-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 25%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.Docker {
    width: calc(230px / 2.5);
    height: calc(230px / 2.5);
  }
  .IconsContainer .Icon.Docker svg {
    width: calc(230px / 2.5);
    height: calc(230px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.Docker {
    width: calc(230px / 1.5);
    height: calc(230px / 1.5);
  }
  .IconsContainer .Icon.Docker svg {
    width: calc(230px / 1.5);
    height: calc(230px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.Docker {
    width: 230px;
    height: 230px;
  }
  .IconsContainer .Icon.Docker svg {
    width: 230px;
    height: 230px;
  }
}
.IconsContainer .Icon.ReactJS {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #313567;
  background-image: url("../../img/logo/React-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 50%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.ReactJS {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
  .IconsContainer .Icon.ReactJS svg {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.ReactJS {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
  .IconsContainer .Icon.ReactJS svg {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.ReactJS {
    width: 200px;
    height: 200px;
  }
  .IconsContainer .Icon.ReactJS svg {
    width: 200px;
    height: 200px;
  }
}
.IconsContainer .Icon.Symfony {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #1a171b;
  background-image: url("../../img/logo/Symfony-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 75%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.Symfony {
    width: calc(180px / 2.5);
    height: calc(180px / 2.5);
  }
  .IconsContainer .Icon.Symfony svg {
    width: calc(180px / 2.5);
    height: calc(180px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.Symfony {
    width: calc(180px / 1.5);
    height: calc(180px / 1.5);
  }
  .IconsContainer .Icon.Symfony svg {
    width: calc(180px / 1.5);
    height: calc(180px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.Symfony {
    width: 180px;
    height: 180px;
  }
  .IconsContainer .Icon.Symfony svg {
    width: 180px;
    height: 180px;
  }
}
.IconsContainer .Icon.SymfonyHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #1a171b;
  background-image: url("../../img/logo/Symfony-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -25%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.SymfonyHide {
    width: calc(180px / 2.5);
    height: calc(180px / 2.5);
  }
  .IconsContainer .Icon.SymfonyHide svg {
    width: calc(180px / 2.5);
    height: calc(180px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.SymfonyHide {
    width: calc(180px / 1.5);
    height: calc(180px / 1.5);
  }
  .IconsContainer .Icon.SymfonyHide svg {
    width: calc(180px / 1.5);
    height: calc(180px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.SymfonyHide {
    width: 180px;
    height: 180px;
  }
  .IconsContainer .Icon.SymfonyHide svg {
    width: 180px;
    height: 180px;
  }
}
.IconsContainer .Icon.ReactJSHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #313567;
  background-image: url("../../img/logo/React-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -50%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.ReactJSHide {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
  .IconsContainer .Icon.ReactJSHide svg {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.ReactJSHide {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
  .IconsContainer .Icon.ReactJSHide svg {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.ReactJSHide {
    width: 200px;
    height: 200px;
  }
  .IconsContainer .Icon.ReactJSHide svg {
    width: 200px;
    height: 200px;
  }
}
.IconsContainer .Icon.DockerHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/Docker-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -75%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.DockerHide {
    width: calc(230px / 2.5);
    height: calc(230px / 2.5);
  }
  .IconsContainer .Icon.DockerHide svg {
    width: calc(230px / 2.5);
    height: calc(230px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.DockerHide {
    width: calc(230px / 1.5);
    height: calc(230px / 1.5);
  }
  .IconsContainer .Icon.DockerHide svg {
    width: calc(230px / 1.5);
    height: calc(230px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.DockerHide {
    width: 230px;
    height: 230px;
  }
  .IconsContainer .Icon.DockerHide svg {
    width: 230px;
    height: 230px;
  }
}
.IconsContainer .Icon.NodeJSHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/Node-JS-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -100%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.NodeJSHide {
    width: calc(120px / 2.5);
    height: calc(120px / 2.5);
  }
  .IconsContainer .Icon.NodeJSHide svg {
    width: calc(120px / 2.5);
    height: calc(120px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.NodeJSHide {
    width: calc(120px / 1.5);
    height: calc(120px / 1.5);
  }
  .IconsContainer .Icon.NodeJSHide svg {
    width: calc(120px / 1.5);
    height: calc(120px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.NodeJSHide {
    width: 120px;
    height: 120px;
  }
  .IconsContainer .Icon.NodeJSHide svg {
    width: 120px;
    height: 120px;
  }
}
.IconsContainer .Icon.PHP {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/PHP-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 13%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.PHP {
    width: calc(152px / 2.5);
    height: calc(152px / 2.5);
  }
  .IconsContainer .Icon.PHP svg {
    width: calc(152px / 2.5);
    height: calc(152px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.PHP {
    width: calc(152px / 1.5);
    height: calc(152px / 1.5);
  }
  .IconsContainer .Icon.PHP svg {
    width: calc(152px / 1.5);
    height: calc(152px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.PHP {
    width: 152px;
    height: 152px;
  }
  .IconsContainer .Icon.PHP svg {
    width: 152px;
    height: 152px;
  }
}
.IconsContainer .Icon.Typescript {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: #007acc;
  background-image: url("../../img/logo/Typescript-02.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 38%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.Typescript {
    width: calc(102px / 2.5);
    height: calc(102px / 2.5);
  }
  .IconsContainer .Icon.Typescript svg {
    width: calc(102px / 2.5);
    height: calc(102px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.Typescript {
    width: calc(102px / 1.5);
    height: calc(102px / 1.5);
  }
  .IconsContainer .Icon.Typescript svg {
    width: calc(102px / 1.5);
    height: calc(102px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.Typescript {
    width: 102px;
    height: 102px;
  }
  .IconsContainer .Icon.Typescript svg {
    width: 102px;
    height: 102px;
  }
}
.IconsContainer .Icon.HTML {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: #e44d26;
  background-image: url("../../img/logo/HTML-5-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 63%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.HTML {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
  .IconsContainer .Icon.HTML svg {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.HTML {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
  .IconsContainer .Icon.HTML svg {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.HTML {
    width: 200px;
    height: 200px;
  }
  .IconsContainer .Icon.HTML svg {
    width: 200px;
    height: 200px;
  }
}
.IconsContainer .Icon.JavaScript {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: #f7df1e;
  background-image: url("../../img/logo/JavaScript-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 88%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.JavaScript {
    width: calc(132px / 2.5);
    height: calc(132px / 2.5);
  }
  .IconsContainer .Icon.JavaScript svg {
    width: calc(132px / 2.5);
    height: calc(132px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.JavaScript {
    width: calc(132px / 1.5);
    height: calc(132px / 1.5);
  }
  .IconsContainer .Icon.JavaScript svg {
    width: calc(132px / 1.5);
    height: calc(132px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.JavaScript {
    width: 132px;
    height: 132px;
  }
  .IconsContainer .Icon.JavaScript svg {
    width: 132px;
    height: 132px;
  }
}
.IconsContainer .Icon.JavaScriptHide {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: #f7df1e;
  background-image: url("../../img/logo/JavaScript-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -12%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.JavaScriptHide {
    width: calc(132px / 2.5);
    height: calc(132px / 2.5);
  }
  .IconsContainer .Icon.JavaScriptHide svg {
    width: calc(132px / 2.5);
    height: calc(132px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.JavaScriptHide {
    width: calc(132px / 1.5);
    height: calc(132px / 1.5);
  }
  .IconsContainer .Icon.JavaScriptHide svg {
    width: calc(132px / 1.5);
    height: calc(132px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.JavaScriptHide {
    width: 132px;
    height: 132px;
  }
  .IconsContainer .Icon.JavaScriptHide svg {
    width: 132px;
    height: 132px;
  }
}
.IconsContainer .Icon.HTMLHide {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: #e44d26;
  background-image: url("../../img/logo/HTML-5-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -37%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.HTMLHide {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
  .IconsContainer .Icon.HTMLHide svg {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.HTMLHide {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
  .IconsContainer .Icon.HTMLHide svg {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.HTMLHide {
    width: 200px;
    height: 200px;
  }
  .IconsContainer .Icon.HTMLHide svg {
    width: 200px;
    height: 200px;
  }
}
.IconsContainer .Icon.TypescriptHide {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: #007acc;
  background-image: url("../../img/logo/Typescript-02.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -62%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.TypescriptHide {
    width: calc(102px / 2.5);
    height: calc(102px / 2.5);
  }
  .IconsContainer .Icon.TypescriptHide svg {
    width: calc(102px / 2.5);
    height: calc(102px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.TypescriptHide {
    width: calc(102px / 1.5);
    height: calc(102px / 1.5);
  }
  .IconsContainer .Icon.TypescriptHide svg {
    width: calc(102px / 1.5);
    height: calc(102px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.TypescriptHide {
    width: 102px;
    height: 102px;
  }
  .IconsContainer .Icon.TypescriptHide svg {
    width: 102px;
    height: 102px;
  }
}
.IconsContainer .Icon.PHPHide {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/PHP-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -87%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.PHPHide {
    width: calc(152px / 2.5);
    height: calc(152px / 2.5);
  }
  .IconsContainer .Icon.PHPHide svg {
    width: calc(152px / 2.5);
    height: calc(152px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.PHPHide {
    width: calc(152px / 1.5);
    height: calc(152px / 1.5);
  }
  .IconsContainer .Icon.PHPHide svg {
    width: calc(152px / 1.5);
    height: calc(152px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.PHPHide {
    width: 152px;
    height: 152px;
  }
  .IconsContainer .Icon.PHPHide svg {
    width: 152px;
    height: 152px;
  }
}
.IconsContainer .Icon.VBA {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #22b573;
  background-image: url("../../img/logo/VBA.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 0%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.VBA {
    width: calc(82px / 2.5);
    height: calc(82px / 2.5);
  }
  .IconsContainer .Icon.VBA svg {
    width: calc(82px / 2.5);
    height: calc(82px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.VBA {
    width: calc(82px / 1.5);
    height: calc(82px / 1.5);
  }
  .IconsContainer .Icon.VBA svg {
    width: calc(82px / 1.5);
    height: calc(82px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.VBA {
    width: 82px;
    height: 82px;
  }
  .IconsContainer .Icon.VBA svg {
    width: 82px;
    height: 82px;
  }
}
.IconsContainer .Icon.VB {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #4242a8;
  background-image: url("../../img/logo/VB.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 25%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.VB {
    width: calc(132px / 2.5);
    height: calc(132px / 2.5);
  }
  .IconsContainer .Icon.VB svg {
    width: calc(132px / 2.5);
    height: calc(132px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.VB {
    width: calc(132px / 1.5);
    height: calc(132px / 1.5);
  }
  .IconsContainer .Icon.VB svg {
    width: calc(132px / 1.5);
    height: calc(132px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.VB {
    width: 132px;
    height: 132px;
  }
  .IconsContainer .Icon.VB svg {
    width: 132px;
    height: 132px;
  }
}
.IconsContainer .Icon.CSharp {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #9a4993;
  background-image: url("../../img/logo/C-Sharp-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 50%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.CSharp {
    width: calc(122px / 2.5);
    height: calc(122px / 2.5);
  }
  .IconsContainer .Icon.CSharp svg {
    width: calc(122px / 2.5);
    height: calc(122px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.CSharp {
    width: calc(122px / 1.5);
    height: calc(122px / 1.5);
  }
  .IconsContainer .Icon.CSharp svg {
    width: calc(122px / 1.5);
    height: calc(122px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.CSharp {
    width: 122px;
    height: 122px;
  }
  .IconsContainer .Icon.CSharp svg {
    width: 122px;
    height: 122px;
  }
}
.IconsContainer .Icon.DotNet {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #672a7a;
  background-image: url("../../img/logo/Microsoft-Dotnet-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 75%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.DotNet {
    width: calc(182px / 2.5);
    height: calc(182px / 2.5);
  }
  .IconsContainer .Icon.DotNet svg {
    width: calc(182px / 2.5);
    height: calc(182px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.DotNet {
    width: calc(182px / 1.5);
    height: calc(182px / 1.5);
  }
  .IconsContainer .Icon.DotNet svg {
    width: calc(182px / 1.5);
    height: calc(182px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.DotNet {
    width: 182px;
    height: 182px;
  }
  .IconsContainer .Icon.DotNet svg {
    width: 182px;
    height: 182px;
  }
}
.IconsContainer .Icon.DotNetHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #672a7a;
  background-image: url("../../img/logo/Microsoft-Dotnet-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -25%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.DotNetHide {
    width: calc(182px / 2.5);
    height: calc(182px / 2.5);
  }
  .IconsContainer .Icon.DotNetHide svg {
    width: calc(182px / 2.5);
    height: calc(182px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.DotNetHide {
    width: calc(182px / 1.5);
    height: calc(182px / 1.5);
  }
  .IconsContainer .Icon.DotNetHide svg {
    width: calc(182px / 1.5);
    height: calc(182px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.DotNetHide {
    width: 182px;
    height: 182px;
  }
  .IconsContainer .Icon.DotNetHide svg {
    width: 182px;
    height: 182px;
  }
}
.IconsContainer .Icon.CSharpHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #9a4993;
  background-image: url("../../img/logo/C-Sharp-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -50%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.CSharpHide {
    width: calc(122px / 2.5);
    height: calc(122px / 2.5);
  }
  .IconsContainer .Icon.CSharpHide svg {
    width: calc(122px / 2.5);
    height: calc(122px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.CSharpHide {
    width: calc(122px / 1.5);
    height: calc(122px / 1.5);
  }
  .IconsContainer .Icon.CSharpHide svg {
    width: calc(122px / 1.5);
    height: calc(122px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.CSharpHide {
    width: 122px;
    height: 122px;
  }
  .IconsContainer .Icon.CSharpHide svg {
    width: 122px;
    height: 122px;
  }
}
.IconsContainer .Icon.VBHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #4242a8;
  background-image: url("../../img/logo/VB.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -75%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.VBHide {
    width: calc(132px / 2.5);
    height: calc(132px / 2.5);
  }
  .IconsContainer .Icon.VBHide svg {
    width: calc(132px / 2.5);
    height: calc(132px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.VBHide {
    width: calc(132px / 1.5);
    height: calc(132px / 1.5);
  }
  .IconsContainer .Icon.VBHide svg {
    width: calc(132px / 1.5);
    height: calc(132px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.VBHide {
    width: 132px;
    height: 132px;
  }
  .IconsContainer .Icon.VBHide svg {
    width: 132px;
    height: 132px;
  }
}
.IconsContainer .Icon.VBAHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #22b573;
  background-image: url("../../img/logo/VBA.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -100%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.VBAHide {
    width: calc(82px / 2.5);
    height: calc(82px / 2.5);
  }
  .IconsContainer .Icon.VBAHide svg {
    width: calc(82px / 2.5);
    height: calc(82px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.VBAHide {
    width: calc(82px / 1.5);
    height: calc(82px / 1.5);
  }
  .IconsContainer .Icon.VBAHide svg {
    width: calc(82px / 1.5);
    height: calc(82px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.VBAHide {
    width: 82px;
    height: 82px;
  }
  .IconsContainer .Icon.VBAHide svg {
    width: 82px;
    height: 82px;
  }
}
.IconsContainer .Icon.MongoDB {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/MongoDB-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 13%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.MongoDB {
    width: calc(162px / 2.5);
    height: calc(162px / 2.5);
  }
  .IconsContainer .Icon.MongoDB svg {
    width: calc(162px / 2.5);
    height: calc(162px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.MongoDB {
    width: calc(162px / 1.5);
    height: calc(162px / 1.5);
  }
  .IconsContainer .Icon.MongoDB svg {
    width: calc(162px / 1.5);
    height: calc(162px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.MongoDB {
    width: 162px;
    height: 162px;
  }
  .IconsContainer .Icon.MongoDB svg {
    width: 162px;
    height: 162px;
  }
}
.IconsContainer .Icon.MySQL {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/MySQL-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 38%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.MySQL {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
  .IconsContainer .Icon.MySQL svg {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.MySQL {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
  .IconsContainer .Icon.MySQL svg {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.MySQL {
    width: 200px;
    height: 200px;
  }
  .IconsContainer .Icon.MySQL svg {
    width: 200px;
    height: 200px;
  }
}
.IconsContainer .Icon.JSON {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/JSON-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 63%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.JSON {
    width: calc(104px / 2.5);
    height: calc(104px / 2.5);
  }
  .IconsContainer .Icon.JSON svg {
    width: calc(104px / 2.5);
    height: calc(104px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.JSON {
    width: calc(104px / 1.5);
    height: calc(104px / 1.5);
  }
  .IconsContainer .Icon.JSON svg {
    width: calc(104px / 1.5);
    height: calc(104px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.JSON {
    width: 104px;
    height: 104px;
  }
  .IconsContainer .Icon.JSON svg {
    width: 104px;
    height: 104px;
  }
}
.IconsContainer .Icon.API {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/API REST.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 88%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.API {
    width: calc(80px / 2.5);
    height: calc(80px / 2.5);
  }
  .IconsContainer .Icon.API svg {
    width: calc(80px / 2.5);
    height: calc(80px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.API {
    width: calc(80px / 1.5);
    height: calc(80px / 1.5);
  }
  .IconsContainer .Icon.API svg {
    width: calc(80px / 1.5);
    height: calc(80px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.API {
    width: 80px;
    height: 80px;
  }
  .IconsContainer .Icon.API svg {
    width: 80px;
    height: 80px;
  }
}
.IconsContainer .Icon.APIHide {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/API REST.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -12%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.APIHide {
    width: calc(80px / 2.5);
    height: calc(80px / 2.5);
  }
  .IconsContainer .Icon.APIHide svg {
    width: calc(80px / 2.5);
    height: calc(80px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.APIHide {
    width: calc(80px / 1.5);
    height: calc(80px / 1.5);
  }
  .IconsContainer .Icon.APIHide svg {
    width: calc(80px / 1.5);
    height: calc(80px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.APIHide {
    width: 80px;
    height: 80px;
  }
  .IconsContainer .Icon.APIHide svg {
    width: 80px;
    height: 80px;
  }
}
.IconsContainer .Icon.JSONHide {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/JSON-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -37%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.JSONHide {
    width: calc(104px / 2.5);
    height: calc(104px / 2.5);
  }
  .IconsContainer .Icon.JSONHide svg {
    width: calc(104px / 2.5);
    height: calc(104px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.JSONHide {
    width: calc(104px / 1.5);
    height: calc(104px / 1.5);
  }
  .IconsContainer .Icon.JSONHide svg {
    width: calc(104px / 1.5);
    height: calc(104px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.JSONHide {
    width: 104px;
    height: 104px;
  }
  .IconsContainer .Icon.JSONHide svg {
    width: 104px;
    height: 104px;
  }
}
.IconsContainer .Icon.MySQLHide {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/MySQL-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -62%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.MySQLHide {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
  .IconsContainer .Icon.MySQLHide svg {
    width: calc(200px / 2.5);
    height: calc(200px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.MySQLHide {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
  .IconsContainer .Icon.MySQLHide svg {
    width: calc(200px / 1.5);
    height: calc(200px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.MySQLHide {
    width: 200px;
    height: 200px;
  }
  .IconsContainer .Icon.MySQLHide svg {
    width: 200px;
    height: 200px;
  }
}
.IconsContainer .Icon.MongoDBHide {
  position: absolute;
  animation: shimmy2 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/MongoDB-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -87%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.MongoDBHide {
    width: calc(162px / 2.5);
    height: calc(162px / 2.5);
  }
  .IconsContainer .Icon.MongoDBHide svg {
    width: calc(162px / 2.5);
    height: calc(162px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.MongoDBHide {
    width: calc(162px / 1.5);
    height: calc(162px / 1.5);
  }
  .IconsContainer .Icon.MongoDBHide svg {
    width: calc(162px / 1.5);
    height: calc(162px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.MongoDBHide {
    width: 162px;
    height: 162px;
  }
  .IconsContainer .Icon.MongoDBHide svg {
    width: 162px;
    height: 162px;
  }
}
.IconsContainer .Icon.JQuery {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/JQuery-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 0%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.JQuery {
    width: calc(172px / 2.5);
    height: calc(172px / 2.5);
  }
  .IconsContainer .Icon.JQuery svg {
    width: calc(172px / 2.5);
    height: calc(172px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.JQuery {
    width: calc(172px / 1.5);
    height: calc(172px / 1.5);
  }
  .IconsContainer .Icon.JQuery svg {
    width: calc(172px / 1.5);
    height: calc(172px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.JQuery {
    width: 172px;
    height: 172px;
  }
  .IconsContainer .Icon.JQuery svg {
    width: 172px;
    height: 172px;
  }
}
.IconsContainer .Icon.Less {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/Less.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 25%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.Less {
    width: calc(82px / 2.5);
    height: calc(82px / 2.5);
  }
  .IconsContainer .Icon.Less svg {
    width: calc(82px / 2.5);
    height: calc(82px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.Less {
    width: calc(82px / 1.5);
    height: calc(82px / 1.5);
  }
  .IconsContainer .Icon.Less svg {
    width: calc(82px / 1.5);
    height: calc(82px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.Less {
    width: 82px;
    height: 82px;
  }
  .IconsContainer .Icon.Less svg {
    width: 82px;
    height: 82px;
  }
}
.IconsContainer .Icon.CSS {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #1f72b5;
  background-image: url("../../img/logo/CSS-3-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 50%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.CSS {
    width: calc(105px / 2.5);
    height: calc(105px / 2.5);
  }
  .IconsContainer .Icon.CSS svg {
    width: calc(105px / 2.5);
    height: calc(105px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.CSS {
    width: calc(105px / 1.5);
    height: calc(105px / 1.5);
  }
  .IconsContainer .Icon.CSS svg {
    width: calc(105px / 1.5);
    height: calc(105px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.CSS {
    width: 105px;
    height: 105px;
  }
  .IconsContainer .Icon.CSS svg {
    width: 105px;
    height: 105px;
  }
}
.IconsContainer .Icon.Adobe {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/Adobe-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: 75%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.Adobe {
    width: calc(85px / 2.5);
    height: calc(85px / 2.5);
  }
  .IconsContainer .Icon.Adobe svg {
    width: calc(85px / 2.5);
    height: calc(85px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.Adobe {
    width: calc(85px / 1.5);
    height: calc(85px / 1.5);
  }
  .IconsContainer .Icon.Adobe svg {
    width: calc(85px / 1.5);
    height: calc(85px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.Adobe {
    width: 85px;
    height: 85px;
  }
  .IconsContainer .Icon.Adobe svg {
    width: 85px;
    height: 85px;
  }
}
.IconsContainer .Icon.AdobeHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/Adobe-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -25%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.AdobeHide {
    width: calc(85px / 2.5);
    height: calc(85px / 2.5);
  }
  .IconsContainer .Icon.AdobeHide svg {
    width: calc(85px / 2.5);
    height: calc(85px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.AdobeHide {
    width: calc(85px / 1.5);
    height: calc(85px / 1.5);
  }
  .IconsContainer .Icon.AdobeHide svg {
    width: calc(85px / 1.5);
    height: calc(85px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.AdobeHide {
    width: 85px;
    height: 85px;
  }
  .IconsContainer .Icon.AdobeHide svg {
    width: 85px;
    height: 85px;
  }
}
.IconsContainer .Icon.CSSHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: #1f72b5;
  background-image: url("../../img/logo/CSS-3-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -50%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.CSSHide {
    width: calc(105px / 2.5);
    height: calc(105px / 2.5);
  }
  .IconsContainer .Icon.CSSHide svg {
    width: calc(105px / 2.5);
    height: calc(105px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.CSSHide {
    width: calc(105px / 1.5);
    height: calc(105px / 1.5);
  }
  .IconsContainer .Icon.CSSHide svg {
    width: calc(105px / 1.5);
    height: calc(105px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.CSSHide {
    width: 105px;
    height: 105px;
  }
  .IconsContainer .Icon.CSSHide svg {
    width: 105px;
    height: 105px;
  }
}
.IconsContainer .Icon.LessHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/Less.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -75%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.LessHide {
    width: calc(82px / 2.5);
    height: calc(82px / 2.5);
  }
  .IconsContainer .Icon.LessHide svg {
    width: calc(82px / 2.5);
    height: calc(82px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.LessHide {
    width: calc(82px / 1.5);
    height: calc(82px / 1.5);
  }
  .IconsContainer .Icon.LessHide svg {
    width: calc(82px / 1.5);
    height: calc(82px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.LessHide {
    width: 82px;
    height: 82px;
  }
  .IconsContainer .Icon.LessHide svg {
    width: 82px;
    height: 82px;
  }
}
.IconsContainer .Icon.JQueryHide {
  position: absolute;
  animation: shimmy 80s infinite linear;
  animation-play-state: paused;
  background-color: white;
  background-image: url("../../img/logo/JQuery-01.svg");
  background-repeat: no-repeat;
  background-position: center;
  display: inline-flex;
  left: -100%;
  align-items: end;
  justify-content: center;
}
@media (min-width: 0px) {
  .IconsContainer .Icon.JQueryHide {
    width: calc(172px / 2.5);
    height: calc(172px / 2.5);
  }
  .IconsContainer .Icon.JQueryHide svg {
    width: calc(172px / 2.5);
    height: calc(172px / 2.5);
  }
}
@media (min-width: 650px) {
  .IconsContainer .Icon.JQueryHide {
    width: calc(172px / 1.5);
    height: calc(172px / 1.5);
  }
  .IconsContainer .Icon.JQueryHide svg {
    width: calc(172px / 1.5);
    height: calc(172px / 1.5);
  }
}
@media (min-width: 1200px) {
  .IconsContainer .Icon.JQueryHide {
    width: 172px;
    height: 172px;
  }
  .IconsContainer .Icon.JQueryHide svg {
    width: 172px;
    height: 172px;
  }
}

@keyframes shimmy {
  0% {
    transform: translate(0vw, 0px);
  }
  20% {
    transform: translate(20vw, 20px);
  }
  40% {
    transform: translate(40vw, 10px);
  }
  60% {
    transform: translate(60vw, 30px);
  }
  80% {
    transform: translate(80vw, 0px);
  }
  100% {
    transform: translate(99vw, 20px);
  }
}
@keyframes shimmy2 {
  0% {
    transform: translate(0vw, 0px);
  }
  20% {
    transform: translate(20vw, -20px);
  }
  40% {
    transform: translate(40vw, 10px);
  }
  60% {
    transform: translate(60vw, -30px);
  }
  80% {
    transform: translate(80vw, 0px);
  }
  100% {
    transform: translate(99vw, -20px);
  }
}
@keyframes progress {
  0% {
    stroke-dasharray: 0 999;
  }
}
.groot-gallery {
  align-items: flex-end;
  position: absolute;
  flex-direction: column;
  top: 0;
  right: 0;
}

.img-block {
  height: 35vh;
}

.img-project {
  position: relative;
  width: 100%;
  height: 100%;
}
.img-project:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.6);
}
.img-project.Enaos {
  background: url("../../img/ENAOS.png");
  background-size: cover;
}
.img-project.GOFI {
  background: url("../../img/GOFI.png");
  background-size: cover;
}
.img-project.NBT {
  background: url("../../img/NBT.png");
  background-size: cover;
}
.img-project.RL {
  background: url("../../img/rl_loto.png");
  background-size: cover;
}

.fade-enter {
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.p-bt-0 {
  margin-top: 0;
  margin-bottom: 0;
}