@use "sass:math";

@mixin mediacircle($whcircle) {
	width : $whcircle;
	height: $whcircle;

	svg {
		width : $whcircle;
		height: $whcircle;
	}
}

@mixin animation($x, $url, $animation, $wh, $bcolor, $circle_percent) {
	position            : absolute;
	animation           : $animation 80s infinite linear;
	animation-play-state: paused;
	background-color    : $bcolor;
	background-image    : url($url);
	background-repeat   : no-repeat;
	background-position : center;
	display             : inline-flex;
	left                : $x;
	align-items         : end;
	justify-content     : center;

	$whinit: 0;

	@media (min-width: 0px) {
		$whinit : calc(#{$wh} / 2.5);
		@include mediacircle($whinit);
	}

	@media (min-width: 650px) {
		$whinit : calc(#{$wh} / 1.5);
		@include mediacircle($whinit);
	}

	// Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) {
		$whinit: $wh;
		@include mediacircle($whinit);
	}
}

.full-width {
	background-color: rgba(0, 0, 0, 0.4);
	padding         : 15px;
	margin-bottom   : 30px;
}

.IconsContainer {
	position       : relative;
	display        : flex;
	align-items    : center;
	justify-content: center;
	margin-left    : -7px;

	@media (min-width: 0px) {
		height: 120px;
	}

	// Extra large devices (large desktops, 1200px and up)
	@media (min-width: 1200px) {
		height: 152px;
	}

	.Icon {
		border-radius         : 50%;
		// -webkit-box-shadow : 0 15px 35px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .07);
		box-shadow            : 0 15px 35px rgba(0, 0, 0, .1), 0 3px 10px rgba(0, 0, 0, .07);

		>.circle-score {
			position: relative;
			width   : 100%;
			height  : 100%;
			opacity : 0;

			>svg {
				position : absolute;
				transform: rotate(-90deg);
				z-index  : 9999;
				overflow : visible;

				>circle.score {
					stroke: url(#cl1);
					fill  : none;
				}

				>circle.fond {
					fill-opacity: .4;
					stroke      : #ffffff;
				}
			}
		}

		span {
			position                  : absolute;
			padding                   : 5px 12px;
			background                : #fff;
			box-shadow                : 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
			border-radius             : 50px;
			white-space               : nowrap;
			font-size                 : 16px;
			font-weight               : 500;
			color                     : #566b78;
			pointer-events            : none;
			user-select               : none;
			opacity                   : 0;
			transition-property       : opacity, transform, -webkit-transform;
			transition-duration       : .25s;
			transition-timing-function: ease-out;
			bottom                    : 0;
			left                      : 50%;
			transform                 : translate(-50%, -50%);
		}


		&:hover {
			>span {
				opacity  : 0.9;
				transform: translate(-50%, 120%);
				z-index  : 9999;
			}


			>.circle-score {
				opacity: 1;

				circle.score {
					animation: progress 1s ease-out;
				}
			}
		}

		$NodeJS_Size  : 120px;
		$Docker_Size  : 230px;
		$ReactJS_Size : 200px;
		$Symfony_Size : 180px;

		$NodeJS_Color  : white;
		$Docker_Color  : white;
		$ReactJS_Color : #313567;
		$Symfony_Color : #1a171b;

		$NodeJS_percent  : 50;
		$Docker_percent  : 40;
		$ReactJS_percent : 40;
		$Symfony_percent : 55;

		&.NodeJS {
			@include animation(0%, "../../img/logo/Node-JS-01.svg", shimmy, $NodeJS_Size, $NodeJS_Color, $NodeJS_percent);
		}

		&.Docker {
			@include animation(25%, "../../img/logo/Docker-01.svg", shimmy, $Docker_Size, $Docker_Color, $Docker_percent);
		}

		&.ReactJS {
			@include animation(50%, "../../img/logo/React-01.svg", shimmy, $ReactJS_Size, $ReactJS_Color, $ReactJS_percent);
		}

		&.Symfony {
			@include animation(75%, "../../img/logo/Symfony-01.svg", shimmy, $Symfony_Size, $Symfony_Color, $Symfony_percent);
		}

		&.SymfonyHide {
			@include animation(-25%, "../../img/logo/Symfony-01.svg", shimmy, $Symfony_Size, $Symfony_Color, $Symfony_percent);
		}

		&.ReactJSHide {
			@include animation(-50%, "../../img/logo/React-01.svg", shimmy, $ReactJS_Size, $ReactJS_Color, $ReactJS_percent);
		}

		&.DockerHide {
			@include animation(-75%, "../../img/logo/Docker-01.svg", shimmy, $Docker_Size, $Docker_Color, $Docker_percent);
		}

		&.NodeJSHide {
			@include animation(-100%, "../../img/logo/Node-JS-01.svg", shimmy, $NodeJS_Size, $NodeJS_Color, $NodeJS_percent);
		}

		// fdfdf

		$PHP_Size        : 152px;
		$Typescript_Size : 102px;
		$HTML_Size       : 200px;
		$JavaScript_Size : 132px;

		$PHP_Color        : white;
		$Typescript_Color : #007acc;
		$HTML_Color       : #e44d26;
		$JavaScript_Color : #f7df1e;

		$PHP_percent        : 60;
		$Typescript_percent : 30;
		$HTML_percent       : 90;
		$Javascript_percent : 70;

		&.PHP {
			@include animation(13%, "../../img/logo/PHP-01.svg", shimmy2, $PHP_Size, $PHP_Color, $PHP_percent);
		}

		&.Typescript {
			@include animation(38%, "../../img/logo/Typescript-02.svg", shimmy2, $Typescript_Size, $Typescript_Color, $Typescript_percent);
		}

		&.HTML {
			@include animation(63%, "../../img/logo/HTML-5-01.svg", shimmy2, $HTML_Size, $HTML_Color, $HTML_percent);
		}

		&.JavaScript {
			@include animation(88%, "../../img/logo/JavaScript-01.svg", shimmy2, $JavaScript_Size, $JavaScript_Color, $Javascript_percent);
		}

		&.JavaScriptHide {
			@include animation(-12%, "../../img/logo/JavaScript-01.svg", shimmy2, $JavaScript_Size, $JavaScript_Color, $Javascript_percent);
		}

		&.HTMLHide {
			@include animation(-37%, "../../img/logo/HTML-5-01.svg", shimmy2, $HTML_Size, $HTML_Color, $HTML_percent);
		}

		&.TypescriptHide {
			@include animation(-62%, "../../img/logo/Typescript-02.svg", shimmy2, $Typescript_Size, $Typescript_Color, $Typescript_percent);
		}

		&.PHPHide {
			@include animation(-87%, "../../img/logo/PHP-01.svg", shimmy2, $PHP_Size, $PHP_Color, $PHP_percent);
		}

		// fdfdf 2

		$VBA_Size    : 82px;
		$VB_Size     : 132px;
		$CSharp_Size : 122px;
		$DotNet_Size : 182px;

		$VBA_Color    : #22b573;
		$VB_Color     : #4242a8;
		$CSharp_Color : #9a4993;
		$DotNet_Color : #672a7a;

		$VBA_percent    : 60;
		$VB_percent     : 80;
		$CSharp_percent : 50;
		$DotNet_percent : 60;

		&.VBA {
			@include animation(0%, "../../img/logo/VBA.svg", shimmy, $VBA_Size, $VBA_Color, $VBA_percent);
		}

		&.VB {
			@include animation(25%, "../../img/logo/VB.svg", shimmy, $VB_Size, $VB_Color, $VB_percent);
		}

		&.CSharp {
			@include animation(50%, "../../img/logo/C-Sharp-01.svg", shimmy, $CSharp_Size, $CSharp_Color, $CSharp_percent);
		}

		&.DotNet {
			@include animation(75%, "../../img/logo/Microsoft-Dotnet-01.svg", shimmy, $DotNet_Size, $DotNet_Color, $DotNet_percent);
		}

		&.DotNetHide {
			@include animation(-25%, "../../img/logo/Microsoft-Dotnet-01.svg", shimmy, $DotNet_Size, $DotNet_Color, $DotNet_percent);
		}

		&.CSharpHide {
			@include animation(-50%, "../../img/logo/C-Sharp-01.svg", shimmy, $CSharp_Size, $CSharp_Color, $CSharp_percent);
		}

		&.VBHide {
			@include animation(-75%, "../../img/logo/VB.svg", shimmy, $VB_Size, $VB_Color, $VB_percent);
		}

		&.VBAHide {
			@include animation(-100%, "../../img/logo/VBA.svg", shimmy, $VBA_Size, $VBA_Color, $VBA_percent);
		}

		// fdfdf 3

		$MongoDB_Size : 162px;
		$MySQL_Size   : 200px;
		$JSON_Size    : 104px;
		$API_Size     : 80px;

		$MongoDB_Color : white;
		$MySQL_Color   : white;
		$JSON_Color    : white;
		$API_Color     : white;

		$MongoDB_percent : 30;
		$MySQL_percent   : 70;
		$JSON_percent    : 90;
		$API_percent     : 70;

		&.MongoDB {
			@include animation(13%, "../../img/logo/MongoDB-01.svg", shimmy2, $MongoDB_Size, $MongoDB_Color, $MongoDB_percent);
		}

		&.MySQL {
			@include animation(38%, "../../img/logo/MySQL-01.svg", shimmy2, $MySQL_Size, $MySQL_Color, $MySQL_percent);
		}

		&.JSON {
			@include animation(63%, "../../img/logo/JSON-01.svg", shimmy2, $JSON_Size, $JSON_Color, $JSON_percent);
		}

		&.API {
			@include animation(88%, "../../img/logo/API REST.svg", shimmy2, $API_Size, $API_Color, $API_percent);
		}

		&.APIHide {
			@include animation(-12%, "../../img/logo/API REST.svg", shimmy2, $API_Size, $API_Color, $API_percent);
		}

		&.JSONHide {
			@include animation(-37%, "../../img/logo/JSON-01.svg", shimmy2, $JSON_Size, $JSON_Color, $JSON_percent);
		}

		&.MySQLHide {
			@include animation(-62%, "../../img/logo/MySQL-01.svg", shimmy2, $MySQL_Size, $MySQL_Color, $MySQL_percent);
		}

		&.MongoDBHide {
			@include animation(-87%, "../../img/logo/MongoDB-01.svg", shimmy2, $MongoDB_Size, $MongoDB_Color, $MongoDB_percent);
		}

		// fdfdf 4

		$JQuery_Size : 172px;
		$Less_Size   : 82px;
		$CSS_Size    : 105px;
		$Adobe_Size  : 85px;

		$JQuery_Color : white;
		$Less_Color   : white;
		$CSS_Color    : #1f72b5;
		$Adobe_Color  : white;

		$JQuery_percent : 80;
		$Less_percent   : 80;
		$CSS_percent    : 85;
		$Adobe_percent  : 45;

		&.JQuery {
			@include animation(0%, "../../img/logo/JQuery-01.svg", shimmy, $JQuery_Size, $JQuery_Color, $JQuery_percent);
		}

		&.Less {
			@include animation(25%, "../../img/logo/Less.svg", shimmy, $Less_Size, $Less_Color, $Less_percent);
		}

		&.CSS {
			@include animation(50%, "../../img/logo/CSS-3-01.svg", shimmy, $CSS_Size, $CSS_Color, $CSS_percent);
		}

		&.Adobe {
			@include animation(75%, "../../img/logo/Adobe-01.svg", shimmy, $Adobe_Size, $Adobe_Color, $Adobe_percent);
		}

		&.AdobeHide {
			@include animation(-25%, "../../img/logo/Adobe-01.svg", shimmy, $Adobe_Size, $Adobe_Color, $Adobe_percent);
		}

		&.CSSHide {
			@include animation(-50%, "../../img/logo/CSS-3-01.svg", shimmy, $CSS_Size, $CSS_Color, $CSS_percent);
		}

		&.LessHide {
			@include animation(-75%, "../../img/logo/Less.svg", shimmy, $Less_Size, $Less_Color, $Less_percent);
		}

		&.JQueryHide {
			@include animation(-100%, "../../img/logo/JQuery-01.svg", shimmy, $JQuery_Size, $JQuery_Color, $JQuery_percent);
		}
	}
}

@keyframes shimmy {
	0% {
		transform: translate(0vw, 0px);
	}

	20% {
		transform: translate(20vw, 20px);
	}

	40% {
		transform: translate(40vw, 10px);
	}

	60% {
		transform: translate(60vw, 30px);
	}

	80% {
		transform: translate(80vw, 0px);
	}

	100% {
		transform: translate(99vw, 20px);
	}
}

@keyframes shimmy2 {
	0% {
		transform: translate(0vw, 0px);
	}

	20% {
		transform: translate(20vw, -20px);
	}

	40% {
		transform: translate(40vw, 10px);
	}

	60% {
		transform: translate(60vw, -30px);
	}

	80% {
		transform: translate(80vw, 0px);
	}

	100% {
		transform: translate(99vw, -20px);
	}
}

@keyframes progress {
	0% {
		stroke-dasharray: 0 999;
	}
}

.groot-gallery {
	align-items   : flex-end;
	position      : absolute;
	flex-direction: column;
	top           : 0;
	right         : 0;
}

.img-block {
	height: 35vh;
}

.img-project {
	position: relative;
	width   : 100%;
	height  : 100%;

	&:before {
		content   : "";
		position  : absolute;
		top       : 0;
		bottom    : 0;
		left      : 0;
		right     : 0;
		box-shadow: inset 0 0 50px rgba(0, 0, 0, .6);
	}

	&.Enaos {
		background     : url("../../img/ENAOS.png");
		background-size: cover;
	}

	&.GOFI {
		background     : url("../../img/GOFI.png");
		background-size: cover;
	}

	&.NBT {
		background     : url("../../img/NBT.png");
		background-size: cover;
	}

	&.RL {
		background     : url("../../img/rl_loto.png");
		background-size: cover;
	}
}

.fade-enter { 
    animation: fadeInAnimation ease 1s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
} 
  
@keyframes fadeInAnimation { 
    0% { 
		opacity: 0; 
    } 
    100% { 
		opacity: 1;
     } 
} 

.p-bt-0{
	margin-top: 0;
	margin-bottom: 0;
}