@font-face {
	font-family: 'footerlink';
	src: url('../../fonts/footerlink.woff') format('woff'); /* Modern 
	Browsers */
	}

.logofb::before {
	font-family: footerlink;
	content: "\fb001";
	color: white;
}

.logolink::before {
	font-family: footerlink;
	content: "\eac9";
	color: white;
}

.logogit::before {
	font-family: footerlink;
	content: "\eab0";
	color: white;
}

.logogitlab::before {
	font-family: footerlink;
	content: "\e900";
	color: white;
}

.logo {
	text-align: right;
	font-size: xx-large;
	color: white;
}
