@charset "UTF-8";
@font-face {
  font-family: "footerlink";
  src: url("../../fonts/footerlink.woff") format("woff");
  /* Modern 
  Browsers */
}
.logofb::before {
  font-family: footerlink;
  content: "󻀁";
  color: white;
}

.logolink::before {
  font-family: footerlink;
  content: "";
  color: white;
}

.logogit::before {
  font-family: footerlink;
  content: "";
  color: white;
}

.logogitlab::before {
  font-family: footerlink;
  content: "";
  color: white;
}

.logo {
  text-align: right;
  font-size: xx-large;
  color: white;
}