* {
  margin : 0;
  padding: 0;
}

.accordian {
  width             : 100%;
  height            : 250px;
  overflow          : hidden;
  box-shadow        : 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
  -moz-box-shadow   : 0 0 10px 1px rgba(0, 0, 0, 0.35);

  @media (max-width: 550px) {
    height: 150px;
  }
}

.accordian ul {
  width : 100%;
  height: 100%;
}

.accordian li div {
  width : 100vw;
  height: 100%;
}

.accordian li {
  position          : relative;
  display           : block;
  width             : 20%;
  height            : 100%;
  float             : left;
  border-left       : 1px solid #888;
  box-shadow        : 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 0 25px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow   : 0 0 25px 10px rgba(0, 0, 0, 0.5);
  transition        : all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition   : all 0.5s;
}

.accordian ul:hover li {
  width: 12%;
}

.accordian ul li:hover {
  width: 40%;
}

.accordian li img {
  display: block;
}