.enaos_accueil {
    background       : url('./img/ENAOS/ENAOS.png');
    background-size  : contain;
    background-repeat: no-repeat;
}

.enaos_business {
    background       : url('./img/ENAOS/ENAOS_Business.png');
    background-size  : contain;
    background-repeat: no-repeat;
}

.enaos_visiteurs {
    background       : url('./img/ENAOS/ENAOS_Visiteurs.png');
    background-size  : contain;
    background-repeat: no-repeat;
}

.enaos_coffre {
    background       : url('./img/ENAOS/ENAOS_Coffre.png');
    background-size  : contain;
    background-repeat: no-repeat;
}

.enaos_sites {
    background       : url('./img/ENAOS/ENAOS_Sites.png');
    background-size  : contain;
    background-repeat: no-repeat;
}

.gofi_accueil{
	background: url('./img/GOFI/GOFI.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.ofi_carte{
	background: url('./img/GOFI/OFI_carteFrance.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.ofi_espace{
	background: url('./img/GOFI/OFI_espace.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.gofi_histoire{
	background: url('./img/GOFI/GOFI_histoire.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.gofi_actualites{
	background: url('./img/GOFI/GOFI_actualites.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.nbt_accueil{
	background: url('./img/NBT/NBT_Accueil.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.nbt_choix{
	background: url('./img/NBT/NBT_Choix.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.nbt_enregistrement{
	background: url('./img/NBT/NBT_enregistrement.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.nbt_liste{
	background: url('./img/NBT/NBT_liste.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.nbt_produits{
	background: url('./img/NBT/NBT_produits.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.rl_accueil{
	background: url('./img/RL/rl_loto.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.rl_csv{
	background: url('./img/RL/rl_csv.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.rl_mongo{
	background: url('./img/RL/rl_mongo-express.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.rl_tirage{
	background: url('./img/RL/rl_tirages.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.rl_code{
	background: url('./img/RL/rl_code.png');
	background-size: contain;
	background-repeat: no-repeat;
}

.Competences{
	margin-bottom: 20px;

    >div {
        padding    : 5px 20px;
    }

	>div:hover{
		background-color: white;
		color: rgba(0, 0, 0, 0.7);
		cursor: default;
	}
}

.description {
	background-color: rgba(0, 0, 0, .7);
}
