.switcher {
    display    : flex;
    align-items: center;
}

.switch {
    display      : inline-block;
    height       : 34px;
    position     : relative;
    width        : 60px;
    margin-bottom: 0 !important;
}

.switch input {
    display: none;
}

.slider {
    background-color: rgba(0, 0, 0, 0.3);
    bottom          : 0;
    cursor          : pointer;
    left            : 0;
    position        : absolute;
    right           : 0;
    top             : 0;
    transition      : .4s;
}

.slider:before {
    background: url('./uk.svg');
    bottom    : 4px;
    content   : "";
    height    : 26px;
    left      : 4px;
    position  : absolute;
    transition: .4s;
    width     : 26px;
}

input:checked+.slider {
    background-color: rgba(0, 0, 0, 0.5);
}

input:checked+.slider:before {
    background: url('./france.svg');
    transform : translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}